<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>One Country a Day</title>
      <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <h1>One Country a Day</h1>
  </body>
  <table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    {% for country in countries[1:] %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ country[0] }}</td>
      <td>{{ country[1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</html>
